{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('recette_liste') }}">
        <div id="etchebest">
        </div>
        <h1>
            [ 3, 2, 1 RECETTES ]
        </h1>
    </a>
{% endblock %}

{% block title %}

{% endblock %}

{% block filariane %}

{% endblock %}

